@{
    ViewData["Title"] = "Home Page";
}
@model GBKNet.Models.Product
<br>
<br>

<h1><center>Welcome to The Gummi Bear Kingdom!</center></h1>
<br>
<h3><center>To navigate around, please use either the top bar or the links provided down below:</center></h3>


<center>
    <h5>@Html.ActionLink("View Products", "Index", "Products")</h5>
	<h5>@Html.ActionLink("Review a Product", "", "")</h5>
	<h5>@Html.ActionLink("", "", "")</h5>
</center>